/* Start Global Rules */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
	height: 100vh;
}

body::before {
	content: '';
	position: absolute;
	z-index: -99;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background-image: url('images/background.jpg');
}
/* End Global Rules */

/* Start Game Buttons */
main {
	display: grid;
	gap: 32px;
}

.container {
	display: flex;
	gap: 32px;
}

.container button {
	border: none;
	border-radius: 8px;
	cursor: pointer;
	height: 128px;
	width: 128px;
	border-bottom: 4px solid grey;
}

.container button:active {
	transform: translateY(4px);
	height: 124px;
	border:none;
}

.container button#rock {
	background-color: #bbb;
}

.container button#rock:hover {
	background-color: #999;
}

.container button#paper {
	background-color: #F5F5F5;
}

.container button#paper:hover {
	background-color: #EEEEEE;
}

.container button#scissors {
	background-color: #64B5F6;
}

.container button#scissors:hover {
	background-color: #2196F3;
}
/* End Game Buttons */

/* Start Scores */
#result, #pscore, #cscore {
	display: flex;
	align-items: center;
	text-align: center;
	height: 32px;
	background-color: #B2DFDB;
	border-bottom: 4px solid #4DB6AC;
	padding: 24px 16px;
}

#result.win {
	background-color: #81C784;
}

#result.lose {
	background-color: #EF9A9A;
}

.scores-container {
	display: flex;
	gap: 32px;
}

.scores-container > div {
	flex: 1;
}
/* End Scores */
